*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: rgb(245, 74, 251);
    text-decoration: none;
}

body {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.697);
    color: rgb(79, 133, 243);
    font-family: Source Code Pro, Consolas, "Courier New", monospace;
}

li {
    list-style-type: none;
}

.header img {
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 50%;
    /* margin-left: 30%; */
}

section.top-page {
    background: url('https://media.tenor.com/i0nzuUl-6wQAAAAC/background.gif');
    background-size: cover;
    height: 80 vh;
    padding: 15px;
    margin-left: 1%;
    margin-right: 1%;
}

/* Menu de navigation */
header.header {
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}

nav.nav {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    /* background-color: rgb(10, 59, 255); */
    margin-right: 10%;
    width: 30%;
    margin-left: 10%;
}

nav.nav li {
    color: rgb(245, 74, 251);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    margin: 10px;
    margin-top: 20px;
    background: rgb(20, 197, 229, 0.05);
    padding: 10px;
}

/* Titre */
.big-title {
    color: black;
    font-size: 50px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.H1-title {
    color: rgb(245, 74, 251);
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#hop {
    color: red;
}

/* Page */

.landing-page {
    margin: 5%;
}

/* Home Page */

.HN {
    color: rgb(79, 133, 243);
    font-size: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 80px;
}

#app {
    padding-top: 10%;
    padding-left: 20%;
    font-size: 20px;
}